<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.mqtttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.NotificationService"
            android:enabled="true">

            <!-- <intent-filter> -->
            <!-- <action android:name=".Services.NotifiactionService"></action> -->
            <!-- </intent-filter> -->
        </service>
        <!-- <service android:name=".Services.MqttService" -->
        <!-- android:enabled="true"> -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name=".Services.NotifiactionService"></action>&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->
        <!-- </service> -->
        <activity android:name=".Activities.RaspConfigActivity" />
        <activity
            android:name=".Activities.SocketConnectionActivity"
            android:label="@string/title_activity_socket_connection" />
        <activity android:name=".Activities.AirConditionerActivity"></activity>
    </application>

</manifest>